BODY {
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
	background-color: #818181;
	-webkit-tap-highlight-color: transparent;
}

#backdrop {
	position: absolute;
	color: white;
	background-color: black;
	padding: 0px;
	margin: 0px;
	height: 480px;
	width: 320px;
	left: 0px;
	top: 0px;
}

#controls {
	height: 288px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	position: absolute;
}

.calculation {
	padding: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 44px;
	width: 318px;
	color: black;
	background-color: white;
}

.button {
	max-height: 62px;
	min-height: 62px;
	max-width: 54px;
	min-width: 54px;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	display: inline-block;
	margin: 3px;
	height: 62px;
	width: 54px;
	border-color: #666666;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
}
