BODY {
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
	background-color: #818181;
	-webkit-tap-highlight-color: transparent;
}

#backdrop {
	color: white;
	background-color: black;
	padding: 0px;
	margin: 0px;
	width: 320px;
	overflow: hidden;
}

#controls {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 320px;
	height: 256px;
	background: -webkit-gradient(linear, left top, right bottom, from(#66a), color-stop(.6, #ccd), to(#77a));
	-webkit-user-select: none;
}

#controlsMask {
	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(100,50,50,.7);
}

.buttonWrapper {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	padding: 0;
	margin: 0;
}

.button {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 2px;
	-webkit-border-radius: 8px;

	font-family: Helvetica;
	font-size: 24px;
	text-align: center;

	border: 1px solid black;
	-webkit-appearance: none;
	background: -webkit-gradient(linear, left top, left bottom,
		from(#222), color-stop(.08, #334), color-stop(.3, #445), color-stop(.5, #445), color-stop(.92, #334), to(#111));
	color: #fff;
	-webkit-box-shadow: 0 1px 3px black;
	text-shadow: 0 -1px 1px #222;
}

.buttonLabel {
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	text-align: center;
	line-height: 56px;
}

.operatorButton {
	font-weight: bold;
}

.functionButton {
    font-family: "Times New Roman";
    font-style: italic;
}

#transcript {
	font-size: 16px;
	padding: 0px;
	padding-top: 192px;
	width: 100%;
	color: black;
	background-color: white;
}

.result {
	font-size: 20px;
	float: right;
	text-align: right;
	padding-right: 3px;
}

.equalSign {
	margin-left: 3px;
	margin-right: 3px;
	color: #b3b3b3;
}

.hint {
	color: #b3b3b3;
}

.equation {
	width: 100%;
	clear: both;
	padding: 2px;
	border-top: 1px solid #ddd;
}

.greek {
    font-family: "Times New Roman";
    font-style: italic;
}

.endIndicator {
	font-weight: bold;
	color: red;
}
