BODY {
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
	background-color: #818181;
	-webkit-tap-highlight-color: transparent;
}

#backdrop {
	color: white;
	background-color: black;
	padding: 0px;
	margin: 0px;
	width: 320px;
	overflow: hidden;
}

#controls {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 320px;
	height: 256px;
	background: url(controls-backdrop.png) top left no-repeat;
	-webkit-user-select: none;
	-webkit-box-shadow: 0px -1px 2px black;
}

#controlsMask {
	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(100,50,50,.7);
}

.button {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 24px;
	text-align: center;
	background: url(blank.png) top left no-repeat;
//	-webkit-transition: opacity .1s linear; // Too slow on iPhone
}

.buttonLabel {
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	text-align: center;
	line-height: 64px;
}

.functionButton {
    font-family: "Times New Roman";
    font-style: italic;
}

#transcript {
	font-size: 16px;
	padding: 0px;
	padding-top: 224px;
	width: 100%;
	color: black;
	background-color: white;
}

.result {
	font-size: 20px;
	float: right;
	text-align: right;
	padding-right: 3px;
}

.equalSign {
	margin-left: 3px;
	margin-right: 3px;
	color: #b3b3b3;
}

.hint {
	color: #b3b3b3;
}

.equation {
	width: 100%;
	clear: both;
	min-height: 23px;
	padding: 2px;
	border-top: 1px solid #ddd;
}

.greek {
    font-family: "Times New Roman";
    font-style: italic;
}

.endIndicator {
	font-weight: bold;
}

.current .endIndicator {
	color: red;
}

.removeParens {
	color: #b3b3b3;
}
