BODY {
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
	background-color: #818181;
	-webkit-tap-highlight-color: transparent;
}

#backdrop {
	color: white;
	background-color: black;
	padding: 0px;
	margin: 0px;
	width: 320px;
}

#controls {
	border-spacing: 0px 0px;
	border-collapse: separate;
	padding: 0px;
	margin: 0px;
	width: 320px;
	height: 288px;
	-webkit-user-select: none;
}

#transcript {
	font-size: 16px;
	padding: 1px;
	width: 318px;
	color: black;
	background-color: white;
}

.button {
	width: 64px;
	border-spacing: 0px 0px;
	border-collapse: separate;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	margin: 0px;
	border-color: #666666;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
}

#basicControls {
	height: 100%;
	width: 100%;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 0px;
	color: white;
}

.button:hover {
	text-shadow: blue 0px 0px 6px, blue 0px 0px 6px;
}

.result {
	font-size: 20px;
	float: right;
	text-align: right;
}

.hint {
	margin-left: 3px;
	margin-right: 3px;
	color: #b3b3b3;
}

.equation {
	width: 100%;
	clear: both;
}
